@model IEnumerable<Domain.Entities.ContactFieldType>

@{
    ViewBag.Title = "Index";
}

<h2>Contact fields</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Lenght
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lenght)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContactFieldTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContactFieldTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContactFieldTypeID })
        </td>
    </tr>
}

</table>
