@model Domain.Entities.Company

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>COMPANY</legend>

    <div class="display-label">CONTACT_STAGE</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactStage.Name)
    </div>

    <div class="display-label">NAME</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">DESCIPTION</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">LOGO</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Logo)
    </div>

    <div class="display-label">CREATION_DATE</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreationDate)
    </div>

    <div class="display-label">MODIFY_DATE</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModificationDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CompanyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
