@model IEnumerable<Domain.Entities.EventStatus>

@{
    ViewBag.Title = "Index";
}

<h2>Event statuses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Event category
        </th>
        <th>
            Name
        </th>
        <th>
            Code
        </th>
        <th>
            Icon
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventCategory.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Icon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventStatusID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventStatusID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventStatusID })
        </td>
    </tr>
}

</table>
